section.content
  .content__wrapper
    #item1.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/1.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/1.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/first-sacrifice-luci-chapter-1/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 01/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')

    .content__item__cursor

    ///**
    //* ITEM 2
    //**/
    #item2.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/2.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/2.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/no-pressure-back-cover-thalia/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 02/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')

    ///**
    //* ITEM 3
    //**/
    #item3.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/3.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/manhattan-quarantine/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 03/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')
    ///**
    //* ITEM 4
    //**/
    #item4.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/3.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/slipspace/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 04/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')
    ///**
    //* ITEM 5
    //**/
    #item5.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/3.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/logic-everybody/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 05/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')
    ///**
    //* ITEM 6
    //**/
    #item6.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/3.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/7pm-2020/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 06/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')
    ///**
    //* ITEM 7
    //**/
    #item7.content__item
      .content__item__left
        a(href="/").content__item-btn.oh
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.85 5.85" style='width: 0.69rem; height: 0.668rem')
            path(d="M5.75,1.08,3.82,3,5.75,4.92a.64.64,0,0,1,.13.19.59.59,0,0,1,0,.23.57.57,0,0,1,0,.22.62.62,0,0,1-.32.32.57.57,0,0,1-.22,0,.59.59,0,0,1-.23,0,.64.64,0,0,1-.19-.13L3,3.82,1.08,5.75a.64.64,0,0,1-.19.13.59.59,0,0,1-.23,0,.57.57,0,0,1-.22,0,.5.5,0,0,1-.19-.13.5.5,0,0,1-.13-.19.57.57,0,0,1,0-.22.59.59,0,0,1,0-.23.64.64,0,0,1,.13-.19L2.18,3,.25,1.08A.64.64,0,0,1,.12.89a.59.59,0,0,1,0-.23.57.57,0,0,1,0-.22A.5.5,0,0,1,.25.25.5.5,0,0,1,.44.12a.57.57,0,0,1,.22,0,.59.59,0,0,1,.23,0,.64.64,0,0,1,.19.13L3,2.18,4.92.25A.64.64,0,0,1,5.11.12a.59.59,0,0,1,.23,0,.57.57,0,0,1,.22,0,.5.5,0,0,1,.19.13.5.5,0,0,1,.13.19.57.57,0,0,1,0,.22.59.59,0,0,1,0,.23A.64.64,0,0,1,5.75,1.08Z" transform="translate(-0.08 -0.08)")
          span.content__item-btn-label
            | retour
        p.content__item__description
          span Sit sapiente eaque eum ipsam
          span nostrum non eius architecto ad
          span magni assumenda qui modi
          span deleniti ea nisi.
        nav.content__item-grid
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            figure.content__item-grid-cell-media
              img.content__item-grid-cell-img(src='../images/3.jpg')
          .content__item-grid-cell
            div

      .content__item__center
        figure.content__item__center-media
          img.content__item__center-img(src='../images/3.jpg')
        .content__item__center-container
          a(href="https://www.samspratt.com/#/boss/" target="_blank").content__item__center-link.oh
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.86 6.86" style="width: 0.69rem; height: 0.668rem")
              path(d="M.91,1.67,5.29,6.05l-2,.18a.77.77,0,0,0-.44.22.73.73,0,0,0-.21.44.49.49,0,0,0,.13.41.5.5,0,0,0,.41.15l3.43-.32a.77.77,0,0,0,.67-.66L7.62,3a.51.51,0,0,0-.14-.4.53.53,0,0,0-.41-.14.76.76,0,0,0-.44.21.74.74,0,0,0-.22.44l-.18,2L1.85.73A.57.57,0,0,0,1.43.59.77.77,0,0,0,1,.81a.67.67,0,0,0-.22.45A.47.47,0,0,0,.91,1.67Z" transform="translate(-0.77 -0.59)")
            span.content__item__center-link-text
              | visiter le site
          .content__item__center-label.oh 07/07

      .content__item__right
        nav.content__item__nav
          .content__item__nav-block
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/1.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/2.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/3.jpg')

          .content__item__nav-block
            figure.content__item__nav-media.current--cell
              img.content__item__nav-img(src='../images/4.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/5.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/6.jpg')
            figure.content__item__nav-media
              img.content__item__nav-img(src='../images/7.jpg')

