footer.footer
  .footer__w
    a.footer__profil(href="mailto:amine95170@gmail.com")
      | développeur frontend
      br
      | étudiant chez @Hetic

    a.footer__brand(href="/")
      | amine zegmou

    ul.footer__contact
      li.footer__contact__item
        a.footer__contact__item-mail(href="mailto:amine95170@gmail.com")
          | .email

      li.footer__contact__item
        a.footer__contact__item-ld(href="#")
          | .linkedin

      li.footer__contact__item
        a.footer__contact__item-gh(href="#")
          | .github
