section.grid
  .grid__wrapper
    .grid__item-mediawrap
      figure.grid__item-media(data-item='item1')
        img.grid__item-img(src='../images/1.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item2')
        img.grid__item-img(src='../images/2.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item3')
        img.grid__item-img(src='../images/3.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item4')
        img.grid__item-img(src='../images/4.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item5')
        img.grid__item-img(src='../images/5.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item6')
        img.grid__item-img(src='../images/6.jpg')

    .grid__item-mediawrap
      figure.grid__item-media(data-item='item7')
        img.grid__item-img(src='../images/7.jpg')

    span.grid__item__more
      a.grid__item__more-link.oh(href="#")
        | .voir plus

