header
  a.header__index(href="/")
    | .index
  .header__titles
    h1.header__titles__item.current-active
      | Sam Spratt - Artwork
    h1.header__titles__item
      | First Sacrifice
    h1.header__titles__item
      | No Pressure
    h1.header__titles__item
      | Quarantine
    h1.header__titles__item
      | Slipspace
    h1.header__titles__item
      | Everybody
    h1.header__titles__item
      | 7pm 2020
    h1.header__titles__item
      | Boss
  a.header__about(href="/")
    | .a propos
