doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Amine Zegmou Portfolio
    meta(name='description' content='Amine Zegmou Portfolio.')
    meta(name='author' content='amine zegmou')
    //link(rel='shortcut icon' href='favicon.ico')
    link(rel='stylesheet' href='../styles/index.scss')

  body
    main
      include header
      include grid
      include content
      include footer

    script(type="module" src="../app/index.js")

