%description-12 {
  font-family: $font-graphik;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
}

%description-14 {
  font-family: $font-graphik;
  font-size: 1.4rem;
  line-height: 1.1;
  text-transform: uppercase;
}
