%title-36 {
  font-family: $font-druk;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

%title-200 {
  font-family: $font-druk;
  font-size: 18rem;
  font-weight: 900;
  text-transform: uppercase;
}
