$color-black: #141414;
$color-iron: #DADCE0;
$color-silver: #A3A3A3;

$font-druk: 'Druk Cyr';
$font-graphik: 'Graphik';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'header',
  'footer',
  'content',
);

